@model GiuaKy.Models.SINHVIENS

@{
    ViewBag.Title = "THÔNG TIN SINH VIÊN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h1 class="text-danger">THÔNG TIN SINH VIÊN</h1>
        <div class="col-md-12 fs-3 ">
            <div class="form-group my-1 ">
                <label class="col-md-2 col-form-label fw-bold">Mã sinh viên:</label>63133615
            </div>
            <div class="form-group my-1">
                <label class="col-md-2 col-form-label fw-bold">Họ tên:</label>Nguyễn Thiết Duy Đan
            </div>
            <div class="form-group my-1">
                <label class="col-md-2 col-form-label fw-bold">Lớp:</label>63.CNTT-4
            </div>
            <div class="form-group my-1">
                <label class="col-md-2 col-form-label fw-bold">Ngày kiểm tra:</label>chưa biết
            </div>
        </div>
    </div>
</div>
